button[type="submit"] {
  background-color: #010601e6;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;}

  form {
    display:inline-table;
    height: 450px;
    width: 350px;
    background-color: rgb(0, 0, 0);
    margin: 2rem;
    padding: 10px;
    border: 1px solid #0000006e;
      border-radius: 20px;
      background-color: #ff800065;
      box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.915);
      object-position: 50%;
    justify-content: center;

  }
    input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #ab8181;
    border-radius: 5px;
    box-sizing:border-box
  }
  
  nav {
    font-display: inline;
    justify-content: end;
  }

   /* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: start;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #303030;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 1000px) {
  .navbar a {
    float: inline-start;
    display: block;}
  }
img{
  width: 100%;
  height: 100%;
}